{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="800, initial-scale=1">
<meta charset="utf-8">
<title>Hi, I am Zixian</title>
{% load compress %}
{% compress css %}
<link type="text/x-scss" href="{% static 'about_theme.scss' %}" rel="stylesheet" media="all">
<link rel="stylesheet" href="{% static 'aboutme/css/fonts.css' %}" media="all">
<link rel="stylesheet" href="{% static 'aboutme/css/standard.css' %}" media="all">
<link rel="stylesheet" href="{% static 'bootstrap_icons/bootstrap-icons.min.css' %}" media="all">
{% endcompress %}
{% compress js %}
<script defer src="{% static 'alpine.min.js' %}"></script>
<script defer src="{% static 'bootstrap.bundle.min.js' %}"></script>
{% endcompress %}
</head>
<body>
<main>
<div class="container mt-5 mb-5 rounded bg-white" x-data="{ selected_section: 1 }">
    <div class="row pt-4 pb-3 text-center d-flex justify-content-center align-items-center g-0" x-data="{ bolded : 1 }">
        <div class="col-sm-12 col-md-2 fs-6 hash"><a href="#about" x-data @click="selected_section = 1; bolded = 1"><span x-bind:class="bolded == 1 ? bolded = 'linker p-3 rounded-pill' : '' ">About</span></a></div>
        <div class="col-sm-12 col-md-2 fs-6 hash"><a href="#experience" x-data @click="selected_section = 2; bolded = 2"><span x-bind:class="bolded == 2 ? bolded = 'linker p-3 rounded-pill' : '' ">Experience</span></a></div>
        <div class="col-sm-12 col-md-3 fs-1 fw-bold"><span class="border-bottom border-5 border-primary">Zixian <sup>{ Chen }</sup></span></div>
        <div class="col-sm-12 col-md-2 fs-6 hash"><a href="#stack" x-data @click="selected_section = 3; bolded = 3"><span x-bind:class="bolded == 3 ? bolded = 'linker p-3 rounded-pill' : '' ">Stack</span></a></div>
        <div class="col-sm-12 col-md-2 fs-6 hash"><a href="#projects" x-data @click="selected_section = 4; bolded = 4"><span x-bind:class="bolded == 4 ? bolded = 'linker p-3 rounded-pill' : '' ">Projects</span></a></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5 p-5 curve curve2">
            <a href="#kit" x-data @click="selected_section = 5"><img src="{% static 'aboutme/kitandi.webp' %}" class="img-fluid rounded-circle"></a>
        </div>
        <div class="col-sm-12 col-md-7 mt-5 pe-5 pb-4">
            <!-- Start 1. About -->
            <div 
                x-show="selected_section == 1"
                x-transition:enter.duration.500ms
                x-transition:leave.duration.50ms
            >
                <h2 class="mb-5">Hello, I am <mark class="bg-light">Zixian</mark>.</h2>
                <p class="lead">
                    I work in the public service.
                    <span x-data="{ dxoopen: false }">
                    <sup>
                        <a @click="dxoopen =! dxoopen" href="#dxoopen" class="fw-normal">#</a>
                        <span x-show="dxoopen" ><a href="https://www.careers.gov.sg/employers/security/mindef" class="fw-normal">If a Defence Executive Officer career is your thing</a></span>
                    </sup>
                    </span>
                </p>
                <p>I like to get hands on and do stuff. I enjoy working on tech related problems and ideas. That said, much of work is neither interesting nor meaningful.</p>
                <p>At work, I go for meetings (sometimes unfortunately not even on Teams!), write Outlook emails, create .pptx presentations, write .docx papers.</p>
                <p>Work is seldom groundbreaking, but there're interesting problems to work on most of the time.</p>
            </div>
            <!-- End 1. About -->
            <!-- Start 2. Experience -->
            <div 
                x-show="selected_section == 2"
                x-transition:enter.duration.500ms
                x-transition:leave.duration.50ms
                x-cloak
            >        
                <h2 class="mb-5">Zixian's work in the public service.</h2>
                <p>Some of my work in the past (memes may or may not be based on reality)</p>
                
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="card mb-3">
                                <img src="{% static 'aboutme/323453240_6103202813032074_7939088152911080943_n.webp' %}" class="card-img-top border-bottom" loading="lazy">
                                <div class="card-body">
                                  <h5 class="card-title">Government digital infrastructure policy</h5>
                                  <p class="card-text">Did some paper work for Government's commercial cloud, tech stack, on-prem hosting</p>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-sm-12 col-md-6">
                            <div class="card mb-3">
                                <img src="{% static 'aboutme/jim_optimised.webp' %}" class="card-img-top border-bottom" loading="lazy">
                                <div class="card-body">
                                  <h5 class="card-title">Helped build platforms for media analysts</h5>
                                  <p class="card-text">Ran DSTA/DSO projects to build analytic systems for media analysts. Raised investments internally and oversaw NLP/CV research projects.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="card mb-3">
                                <img src="{% static 'aboutme/rick_optimised.webp' %}" class="card-img-top border-bottom" loading="lazy">
                                <div class="card-body">
                                  <h5 class="card-title">Media and public relations</h5>
                                  <p class="card-text">On call alot, ran media events, pitched features, wrote/executed comms plans</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="card mb-3">
                                <img src="{% static 'aboutme/T4gHbyJ.webp' %}" class="card-img-top border-bottom" loading="lazy">
                                <div class="card-body">
                                  <h5 class="card-title">National Service policy</h5>
                                  <p class="card-text">Did a bunch of meaningful paper work (meme I created above may or may not be real)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End 2. Experience -->
            <!-- Start 3. Stack -->
            <div 
                x-show="selected_section == 3"
                x-transition:enter.duration.500ms
                x-transition:leave.duration.50ms
                x-cloak
            >
                <h2 class="mb-5">Zixian's Portfolio</h2>
                <p>In my free time, I learn and build stuff on the web to solve my problems IRL. Ended up here after clicking on Meta's backend dev course back then.</p>
                <h5 class="mt-4">Using</h3>
                <p>
                    Django<i class="bi bi-dot text-success"></i>
                    Python<i class="bi bi-dot text-success"></i>
                    Htmx<i class="bi bi-dot text-success"></i>
                    Alpine JS<i class="bi bi-dot text-success"></i>
                    Bootstrap<i class="bi bi-dot text-success"></i>
                    Oracle Cloud
                    <sup>
                        Ubuntu<i class="bi bi-droplet-fill text-success"></i>
                        Nginx<i class="bi bi-droplet-fill text-success"></i>
                        Cloudflare
                    </sup>
                </p>
                <h5 class="mt-4">Dabbled with</h3>
                <p>
                    Django Rest Framework<i class="bi bi-dot text-success"></i>
                    SQL<i class="bi bi-dot text-success"></i>
                    plain JS
                </p>
                <h5 class="mt-4">Courses/Certificates</h3>
                <p>
                    Meta Back-end Developer Specialization<i class="bi bi-dot text-success"></i>
                    AWS Fundamentals Specialization<i class="bi bi-dot text-success"></i>

                    Google UX
                    <span x-data="{ googleopen: false }">
                        <a @click="googleopen = ! googleopen" href="#googleopen">(<i class="bi bi-three-dots"></i>)</a>
                        <span x-show="googleopen" class="text-warning">Foundations of UX Design <i class='bi bi-plus-circle text-success'></i> Wireframes/Low-fi Prototypes <i class='bi bi-plus-circle text-success'></i> Empathize/Define/Ideate</span>
                    </span>
                </p>
                <h5 class="mt-4">Erm...</h3>
                <p>
                    Certified ScrumMaster<i class="bi bi-dot text-success"></i>
                    LeSS Basics <a href="https://www.youtube.com/watch?v=vSnCeJEka_s"><i class="bi bi-emoji-smile-upside-down-fill"></i></a>
                </p>
            </div>
            <!-- End 3. Stack -->
            <!-- Start 4. Projects -->
            <div 
                x-show="selected_section == 4"
                x-transition:enter.duration.500ms
                x-transition:leave.duration.50ms
                x-cloak
            >
                <h2 class="mb-5">Zixian's Projects</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="card">
                                <div style="width:100%; height:15em; background-position: center 30%; background-size: cover; background-repeat: no-repeat; background-image: url('{% static 'trackerapp/logo.webp' %}')" class="rounded-top"></div>
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">Eat Your Medicine webapp</h5>
                                    <p class="card-text">I'm a parent and whenever my kid fell sick, I needed to know when the next dose of medicine was due.</p>
                                    <p>It was tedious. I constantly had to copy-paste on Telegram saved messages.</p>
                                    <p class="card-text">I wrote a webapp to track dose timings and easily access info on the medicine.</p>
                                    <div class="text-center"><a href="{% url 'betamain' %}" class="btn btn-success text-white">Try it out</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-xs-12 col-sm-6">
                            <div class="card">
                                <div style="width:100%; height:10em; background-position: center center; background-size: auto; background-repeat: no-repeat; background-image: url('{% static 'aboutme/btonomics-header-logo-4.webp' %}')" class="rounded-top border-bottom"></div>
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">BTOnomics.com</h5>
                                    <p class="card-text">I was a new home owner - I didn't know how to buy/ship from Taobao, design my home, choose lights, pick flooring, select fans, decide taps.</p>
                                    <p class="card-text">I wrote a blog documenting my HDB home renovation on a budget, with guides on choosing an ID, buying and shipping from Taobao, DIY assembly, and just generally getting stuff done.</p>
                                    <div class="text-center"><a href="https://btonomics.com/" class="btn btn-success text-white">Check it out</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="card">
                                <div style="width:100%; height:15em; background-position: center 70%; background-size: cover; background-repeat: no-repeat; background-image: url('{% static 'aboutme/_16b879e5-f390-4924-9335-50964e37ba36.webp' %}')" class="rounded-top"></div>
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">Appraisal ranking app</h5>
                                    <p class="card-text">It's such an inefficient process staring at an Excel sheet and the various columns.</p> 
                                    <p class="card-text">Need to dust myself off and go through the empathy and user journey process.</p>
                                    <div class="text-center"><a href="https://btonomics.com/" class="btn btn-secondary text-white disabled">Dawdling</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- End 4. Projects -->              
            <!-- Start 5. Doggo -->
            <div 
                x-show="selected_section == 5"
                x-transition:enter.duration.500ms
                x-transition:leave.duration.50ms
                x-cloak
            >
                <h2 class="mb-3">Here is my doggo, Kitkit.</h2>
                <div id="carousel" class="carousel slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid" src="{% static 'aboutme/PXL_20231025_130824607.PORTRAIT.webp' %}" alt="First pic" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="{% static 'aboutme/PXL_20231029_120334733.webp' %}" alt="Second pic" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="{% static 'aboutme/IMG_20200124_134033.webp' %}" alt="Third pic" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="{% static 'aboutme/20211211_115950.webp' %}" alt="Fourth pic" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="{% static 'aboutme/IMG_20200205_211332.webp' %}" alt="Fifth pic" loading="lazy">
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="{% static 'aboutme/IMG_20200314_143553.webp' %}" alt="Sixth pic" loading="lazy">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <p>She's 4 years old. A Corgi x Spitz.</p>
                <img src="{% static 'aboutme/kit.webp' %}" class="img-fluid" width="1080" height="720" alt="Good doggo" loading="lazy" />
                <p>We love Kit, though sometimes she's naughty and will chew paper lying around. She looks like this when she does something wrong.</p>
                <img src="{% static 'aboutme/kit_chew.webp' %}" class="img-fluid" width="720" height="826" alt="Bad doggo" loading="lazy" />
                But it's great she doesn't eat anything on the floor or chew cables, though she used to.
            </div>
            <!-- End 5. Doggo -->                        
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center mt-5 pt-3">
            <p class="mb-0"><a href="https://www.linkedin.com/in/zixianchen/"><i class="bi bi-linkedin fs-2 me-3"></i></a><a href="https://github.com/zachczx"><i class="bi bi-github fs-2"></i></a></p>
            <p>© 2023-24 Zixian Chen. All rights reserved.</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>
</main>
</body>
</html>
