# Auto detect text files and perform LF normalization
* text=auto

static/bootstrap/** linguist-vendored
static/bootstrap_icons/** linguist-vendored
static/fonts/** linguist-vendored
static/ linguist-vendored