*.env
*.pyc
trackerapp/migrations/
trackerapp/migrations/0001_initial.py
trackerapp/migrations/0002_eatmodel_last_fed_alter_eatmodel_medicine.py
trackerapp/migrations/0003_alter_eatmodel_last_fed.py
trackerapp/migrations/0004_alter_eatmodel_last_fed_alter_eatmodel_remarks.py
trackerapp/migrations/0005_medicalinfo_eatmodel_interval_and_more.py
trackerapp/migrations/0006_medicalinfo_used_for.py
trackerapp/migrations/0007_eatmodel_medicine_pk.py
trackerapp/migrations/0008_remove_eatmodel_medicine_pk_alter_eatmodel_medicine.py
trackerapp/migrations/__pycache__/0001_initial.cpython-312.pyc
trackerapp/migrations/__pycache__/0002_eatmodel_last_fed_alter_eatmodel_medicine.cpython-312.pyc
trackerapp/migrations/__pycache__/0003_alter_eatmodel_last_fed.cpython-312.pyc
trackerapp/migrations/__pycache__/0004_alter_eatmodel_last_fed_alter_eatmodel_remarks.cpython-312.pyc
trackerapp/migrations/__pycache__/0005_medicalinfo_eatmodel_interval_and_more.cpython-312.pyc
trackerapp/migrations/__pycache__/0006_medicalinfo_used_for.cpython-312.pyc
trackerapp/migrations/__pycache__/0007_eatmodel_medicine_pk.cpython-312.pyc
trackerapp/migrations/__pycache__/0008_remove_eatmodel_medicine_pk_alter_eatmodel_medicine.cpython-312.pyc
