*.env
*.pyc
trackerapp/old/
templates/trackerapp/test.html
templates/trackerapp/JStest.html
staticfiles/
*.sqlite3
data.json
eatyourmeds/.gitattributes
eatyourmeds/.gitignore
trackerapp/migrations/
aboutme/migrations/
rankingapp/migrations/
CACHE/
*.old
static/* linguist-vendored