{% extends 'trackerapp/base.html' %}

{% block content %}
<h2 class="text-center">Login</h2>
<div class="d-flex justify-content-center">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class="btn btn-success mt-2">
    </form>
</div>
<div class="text-center mt-5 alert alert-secondary">
        <div class="mb-3">Need an account? <a href="{% url 'eatregister' %}">Register here</a>.</div>
        <div>Or just use this test account - User: <strong><u>test</u></strong>, Password: <strong><u>testing12345</u></strong></div>
</div>

{% endblock %}