{% extends 'rankingapp/base.html' %}

{% block content %}
{% load static %}
{% load compress %}
{% compress css %}
<style>
    /* noUIslider css */
    #slider-round {
        height: 10px;
    }
    
    #slider-round .noUi-handle {
        height: 18px;
        width: 18px;
        top: -5px;
        right: -9px; /* half the width */
        border-radius: 9px;
    }

    .c-1-color { background: #fff24b; }
    .c-2-color { background: #F6F193; }
    .c-3-color { background: #BFEA7C; }
    .c-4-color { background: #9BCF53; }
    .c-5-color { background: #416D19; }

</style>
{% endcompress %}
<div class="container mt-2 pt-5 pb-5 rounded bg-body shadow-lg">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col">
            {% load crispy_forms_tags %}
            <form hx-post="{% url 'htmx_add_worker' id %}" hx-target="#sortable_list" hx-swap="innerHTML">
            {% csrf_token %}
            {% crispy htmx_add_worker %}
            </form>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col">
            <div class="pb-5 pt-2 px-5 rounded-pill mb-3 border border-secondary-subtle" style="background-color: #FBFFF2">
                <h2>Adjust Grading Percentile&nbsp;<span id="gradingTooltip"><i class="bi bi-question-circle-fill fs-5 align-top"></i></span></h2>
                <form id="slider_form" hx-target="#sortable_list" hx-swap="innerHTML" hx-post="{% url 'htmx_save_quota' sessionid=worker.0.session_id %}" hx-trigger="click delay:1s">
                    <div id="slider-round"></div>
                    <input type="hidden" name="quotaB-input" value="" id="quotaB-input">
                    <input type="hidden" name="quotaC-input" value="" id="quotaC-input">
                    <input type="hidden" name="quotaD-input" value="" id="quotaD-input">
                </form>
            </div>
        </div>
        <div class="col-sm-0 col-md-1">
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col">
            <ol class="p-0">
                <form class="sortable" id="sortable_list" hx-post="{% url 'htmx_save_sequence' sessionid=worker.0.session_id %}" hx-trigger="end delay:0.5s">
                    {% include 'rankingapp/partials/htmx_view_worker.html' %}
                </form>
            </ol>
        </div>
        <div class="col-sm-0 col-md-1">
        </div>
    </div>   
</div>


{% compress js %}
<script src="{% static 'rankingapp/js/Sortable.min.js' %}"></script>
<script>
htmx.onLoad(function(content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        var sortableInstance = new Sortable(sortable, {
            animation: 350,
            ghostClass: 'blue-background-class',

            // Make the `.htmx-indicator` unsortable
            filter: ".htmx-indicator",
            onMove: function (evt) {
            return evt.related.className.indexOf('htmx-indicator') === -1;
            },

        });
    }
})
</script>
{% endcompress %}

{% compress js %}
<!-- tippy and popper -->
<script src="{% static 'rankingapp/js/popper.min.js' %}"></script>
<script src="{% static 'rankingapp/js/tippy-bundle.umd.js' %}"></script>
<script>
    tippy('#gradingTooltip', {
        content: 'These may be rounding errors. In this case, no one will be assigned band D. To work around this, try adding dummy entries and shifting them before those you want to grade band D.',
      });
</script>
<script src="{% static 'rankingapp/js/nouislider.min.js' %}"></script>
<script src="{% static 'rankingapp/js/wNumb.min.js' %}"></script>
{% endcompress %}
<!-- noUISlider -->

<script>
//init noUIslider
    var slider = document.getElementById('slider-round');

    noUiSlider.create(slider, {
        start: [0, {{nouislider_quotas.user_quotaB}}, {{nouislider_quotas.user_quotaC}}, {{nouislider_quotas.user_quotaD}}, 100],
        connect: true,
        snap: true,
        range: {
            'min': 0,
            '5%': 5,
            '10%': 10,
            '15%': 15,            
            '20%': 20,
            '25%': 25,         
            '30%': 30,
            '35%': 35,            
            '40%': 40,
            '45%': 45,            
            '50%': 50,
            '55%': 55,            
            '60%': 60,
            '65%': 65,            
            '70%': 70,
            '75%': 75,            
            '80%': 80,
            '85%': 85,            
            '90%': 90,
            '95%': 95,            
            'max': 100,
        },
        // dependency for wNumb for the decimals
        format: wNumb({
            decimals: 0,
            thousand: ',',
            suffix: ''
        }),
        pips: {
            mode: 'positions',
            values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
            density: 5,
        }
});

slider.noUiSlider.disable(0);
slider.noUiSlider.disable(4);

let connect = slider.querySelectorAll('.noUi-connect');
let classes = ['c-1-color', 'c-2-color', 'c-3-color', 'c-4-color', 'c-5-color'];

for (let i = 0; i < connect.length; i++) {
    connect[i].classList.add(classes[i]);
}

let quotaB = document.getElementById("quotaB-input");
let quotaC = document.getElementById("quotaC-input");
let quotaD = document.getElementById("quotaD-input");

// get value from update and put into hidden input fields
slider.noUiSlider.on('update', function(values, handle) {
    quotaB.value = values[1]
    console.log(quotaB.value)
    quotaC.value = values[2]
    console.log(quotaC.value)
    quotaD.value = values[3]
    console.log(quotaD.value)
});
</script>

{% endblock %}