{% extends 'rankingapp/base.html' %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="newsession px-4 py-4">
            <h2 class="mb-5 text-center"><i class="bi bi-plus-circle-fill me-3"></i>New session</h2>
            <div class="text-center mb-4"><img src="{% static 'rankingapp/_f1194c00-8d66-44ca-9581-e02bd42ef2b9.webp' %}" class="img-fluid"></div>

            {% load crispy_forms_tags %}
            <form action="{% url 'new_session' %}" method="POST">
                {% csrf_token %}
                {% crispy form_session %}
                <div id="htmx_validate_session" class="text-dark fst-italic ms-1" style="font-size:0.8rem">Use letters or numbers.</div>
            </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="existingsession px-4 py-4">
            <h2 class="mb-5 text-center"><i class="bi bi-arrow-right-circle-fill me-3"></i>Continue</h2>
            <div class="text-center mb-4"><img src="{% static 'rankingapp/_aec1dc07-9c9b-4564-aa59-89b4a8656716.webp' %}" class="img-fluid"></div>
            <form action="{% url 'rankingredirect' %}" method="GET">
                {% csrf_token %}
                {% crispy form %}
                <div id="htmx_existing_session" class="text-dark form-text fst-italic ms-1" style="font-size:0.8rem">Use the ID you created previously.</div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}