{% extends 'rankingapp/base.html' %}

{% block content %}
{% load static %}
<style>
    /* noUIslider css */
    #slider-round {
        height: 10px;
    }
    
    #slider-round .noUi-handle {
        height: 18px;
        width: 18px;
        top: -5px;
        right: -9px; /* half the width */
        border-radius: 9px;
    }

    .c-1-color { background: #b5ff6f; }
    .c-2-color { background: #bceec3; }
    .c-3-color { background: #f3f3d0; }
    .c-4-color { background: #e8a7a7; }
    .c-5-color { background: purple; }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col">
            {% load crispy_forms_tags %}
            <form hx-post="{% url 'htmx_add_worker' id %}" hx-target="#sortable_list" hx-swap="innerHTML">
            {% csrf_token %}
            {% crispy htmx_add_worker %}
            </form>
        </div>
        <div class="col-sm-0 col-md-1"></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col">
            <div id="slider-round"></div>
        </div>
        <div class="col-sm-0 col-md-1">
        </div>
    </div>  
    <div class="row">
        <div class="col-sm-0 col-md-1"></div>
        <div class="col">
            <ol class="p-0">
                <form class="sortable" id="sortable_list" hx-post="{% url 'htmx_save_sequence' sessionid=worker.0.session_id %}" hx-trigger="end delay:1s">
                    {% include 'rankingapp/partials/htmx_view_worker.html' %}
                </form>
            </ol>
        </div>
        <div class="col-sm-0 col-md-1">
        </div>
    </div>   
</div>

{% load compress %}
{% compress js %}
<script src="{% static 'rankingapp/js/Sortable.min.js' %}"></script>
<script>
htmx.onLoad(function(content) {
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
        var sortable = sortables[i];
        var sortableInstance = new Sortable(sortable, {
            animation: 350,
            ghostClass: 'blue-background-class',

            // Make the `.htmx-indicator` unsortable
            filter: ".htmx-indicator",
            onMove: function (evt) {
            return evt.related.className.indexOf('htmx-indicator') === -1;
            },

        });
    }
})

</script>
{% endcompress %}

<script src="{% static 'rankingapp/js/nouislider.min.js' %}"></script>
<script src="{% static 'rankingapp/js/wNumb.min.js' %}"></script>
<script>
//init noUIslider
    var slider = document.getElementById('slider-round');

    noUiSlider.create(slider, {
        start: [0, 5, 40, 95, 100],
        connect: true,
        tooltips: true,
        snap: true,
        range: {
            'min': 0,
            '5%': 5,
            '10%': 10,
            '15%': 15,            
            '20%': 20,
            '25%': 25,         
            '30%': 30,
            '35%': 35,            
            '40%': 40,
            '45%': 45,            
            '50%': 50,
            '55%': 55,            
            '60%': 60,
            '65%': 65,            
            '70%': 70,
            '75%': 75,            
            '80%': 80,
            '85%': 85,            
            '90%': 90,
            '95%': 95,            
            'max': 100,
        },
        // dependency for wNumb for the decimals
        format: wNumb({
            decimals: 0,
            thousand: ',',
            suffix: '%'
        }),
});

slider.noUiSlider.disable(0);
slider.noUiSlider.disable(4);

let connect = slider.querySelectorAll('.noUi-connect');
let classes = ['c-1-color', 'c-2-color', 'c-3-color', 'c-4-color', 'c-5-color'];

for (let i = 0; i < connect.length; i++) {
    connect[i].classList.add(classes[i]);
}
</script>
{% endblock %}