{% for person in worker %}
<div id="{{person.rank_id}}" class="ps-5 py-2 my-2 bg-success-subtle rounded border border-1 border-primary d-flex justify-content-center align-items-center handle">
    <li class="flex-grow-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 fw-bold">{{person.name}}</div>
                <div class="col-12 col-md-4">{{person.dept}}</div>
                <div class="col-12 col-md-4">/prev grade/</div>
            </div>    
        </div>
    </li>
    <i class="bi bi-grip-vertical handle"></i>
</div>
{% endfor %}