<div class="container mt-5">
    <div class="row">
        <div class="footer">
            <p>© 2023 Zixian Chen. All rights reserved.</p> 
            <a href="{% url 'home' %}" class="text-success" style="margin-right: 1em"><i class="bi bi-person-circle"></i></a>
            <a href="https://www.linkedin.com/in/zixianchen/" class="text-success" style="margin-right: 1em"><i class="bi bi-linkedin"></i></a>
            <a href="https://btonomics.com/" class="text-success" style="margin-right: 1em"><i class="bi bi-chat-text-fill"></i></a>
            <a href="https://github.com/zachczx" class="text-success"><i class="bi bi-github"></i></a>
        </div>
    </div>
</div>

