{% load static %}

    
    {% for item in courseinfo %}
    <!-- start of each item -->
    {% if item.complete is False %}
    <div class="row bg-light border border-secondary rounded p-1 mt-3">
        <div class="col-sm-2">
            <i class="bi bi-person-circle fs-1"></i>
        </div>
        <div class="col-sm-3">
            <h3><strong><a href="{% url 'betaviewcourse' item.id %}">{{item.medicine}}</a></strong></h3>
            <i class="bi bi-clock-fill"></i>&nbsp;&nbsp;{{item.interval}} hourly
        </div>
        <div class="col-sm-7 d-flex justify-content-start align-items-end">
            <div class="flex-grow-1">
                <ul class="list-group list-group-horizontal-sm">
                    {% for x in doseinfo %}
                        {% if x.courseinfo.id == item.id %}
                        <li class="list-group-item"><a href="{% url 'betaviewcourse' item.id %}" class="link-no-line"><i class="bi bi-caret-right-fill text-success"></i> {{x.dose_timing|date:"d M"}}, {{x.dose_timing|time:"g:i A"}}</li>
                        {% endif %}
                    {% endfor %}</p>
                </ul>
            </div>
            <div>            
                <a hx-delete="{% url 'htmx_delete_course' item.id %}" href="#" class="dropdown-item"><i class="bi bi-trash3"></i></a>
            </div>
        </div>
    </div>

    <!-- end of each item -->
    {% elif item.complete is True %}
    <!-- start of each item -->
    <div class="row bg border border-secondary rounded p-1 mt-3">
        <div class="col-sm-3">
            <h3><strong><a href="{% url 'betaviewcourse' item.id %}" class="opacity-50">{{item.medicine}}</a>&nbsp;&nbsp;<i class="bi bi-check-circle-fill text-success"></i></strong></h3>
            <i class="bi bi-clock-fill"></i>&nbsp;&nbsp;{{item.interval}} hourly
        </div>
        <div class="col-sm-9 d-flex justify-content-start align-items-end opacity-50">
            <div class="flex-grow-1">
                <ol class="list-group list-group-horizontal-sm">
                    {% for x in doseinfo%}
                        {% if x.courseinfo.medicine == item.medicine %}
                        <li class="list-group-item"><a href="{% url 'betaviewcourse' item.id %}" class="link-no-line">{{x.dose_timing|date:"d M"}}, {{x.dose_timing|time:"g:i a"}}</li>
                        {% endif %}
                    {% endfor %}</p>
                </ul>
            </div>
            <div>            
                <a hx-delete="{% url 'htmx_delete_course' item.id %}" href="#" class="dropdown-item"><i class="bi bi-trash3"></i></a>
            </div>
        </div>

    </div>
    {% endif %}
    {% endfor %}
    {% if not courseinfo %}
    <div class="row bg border border-secondary rounded p-1 mt-3">
        <div class="col-sm text-center pt-5 pb-5">
            <h2 class="fw-bold">This place's empty.</h2>
            <p class="fs-5">Start by <a href="{% url 'betacreatecourse' %}">adding a dose or two here</a>!</p>
            <img src="{% static 'trackerapp/startup.webp' %}" class="img-fluid rounded" height="600" width="600" alt="Start here">
        </div>
    </div>
    {% endif %}

