{% extends 'trackerapp/base.html' %}

{% block content %}

<div class="container w-80">

    <div class="row">
        <div class="col-sm mt-3 gx-0 d-flex justify-content-start fw-bold">
            <a href="{% url 'betacreatecourse' %}" class="btn btn-success rounded-pill fw-bold text-white"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add Item&nbsp;&nbsp;</a>
        </div>
    </div>

    <!-- the htmx delete div -->
    <div id="deletetask"
        hx-confirm="Are you sure you want to delete this task?"
        hx-target="#deletetask"
        hx-trigger="deletetask from:body"
        hx-swap="innerHTML">

        {% include 'trackerapp/partials/betamain_content.html' %}

    </div>
    <!-- the htmx delete div -->

</div>

{% endblock %}