{% extends 'trackerapp/base.html' %}

{% block content %}

<div class="container px-4">
    <div class="row mt-5">
        <div class="col-sm">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'betamain' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Course</li>
                <li class="breadcrumb-item active" aria-current="page">{{courseinfo.medicine}}</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-sm">
            <div class="container w-75">
                <div class="row">
                    <div class="col-sm">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr('#id_course_start', {
        enableTime: true,
        altInput: true,
        altFormat: "j F Y, h:i K",
        dateFormat: "Y-m-d H:i",
    });
</script>
{% endblock %}