{% load static %}
<div id="deletetask"
    hx-confirm="Are you sure you want to delete this task?"
    hx-target="#deletetask"
    hx-trigger="deletetask from:body"
    hx-swap="outerHTML"><!-- the htmx delete div -->

    {% for item in list %}
    
    {% if item.complete is False %}
    <!-- start of each item -->
    <div class="row bg-light border border-success rounded p-1 mt-3">
        <div class="col-sm-3">
            <h3><strong><a href="{% url 'doseview' item.id %}">{{item.medicine}}</a></strong></h3>
            <i class="bi bi-clock-fill"></i>&nbsp;&nbsp;{{item.interval}} hourly
        </div>
        <div class="col-sm-9 d-flex justify-content-start align-items-end border-start-dark">
            <div class="flex-grow-1">
                <ul class="list-group list-group-horizontal-sm">
                    {% if item.last_fed > time %}
                    <li class="list-group-item list-group-item-success" id="{{item.id}}-last-fed"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-1-circle-fill"></i>&nbsp;{{item.last_fed|date:"d M"}}, {{item.last_fed|time:"g:i a"}}</li>
                    {% else %}
                    <li class="list-group-item" id="{{item.id}}-last-fed"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-1-circle-fill"></i>&nbsp;{{item.last_fed|date:"d M"}}, {{item.last_fed|time:"g:i a"}}</li>                    
                    {% endif %}
                    {% if item.second_dose > time %}
                    <li class="list-group-item list-group-item-success" id="{{item.id}}-second-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-2-circle-fill"></i>&nbsp;{{item.second_dose|date:"d M"}}, {{item.second_dose|time:"g:i a"}}</li>
                    {% else %}
                    <li class="list-group-item" id="{{item.id}}-second-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-2-circle-fill"></i>&nbsp;{{item.second_dose|date:"d M"}}, {{item.second_dose|time:"g:i a"}}</li>
                    {% endif %}
                    {% if item.third_dose > time %}
                    <li class="list-group-item list-group-item-success" id="{{item.id}}-third-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-4-circle-fill"></i>&nbsp;&nbsp;{{item.third_dose|date:"d M"}}, {{item.third_dose|time:"g:i a"}}</li>
                    {% else %}
                    <li class="list-group-item" id="{{item.id}}-third-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-4-circle-fill"></i>&nbsp;&nbsp;{{item.third_dose|date:"d M"}}, {{item.third_dose|time:"g:i a"}}</li>                    
                    {% endif %}
                    {% if item.fourth_dose > time %}
                    <li class="list-group-item list-group-item-success" id="{{item.id}}-fourth-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-4-circle-fill"></i>&nbsp;&nbsp;{{item.fourth_dose|date:"d M"}}, {{item.fourth_dose|time:"g:i a"}}</li>        
                    {% else %}
                    <li class="list-group-item" id="{{item.id}}-fourth-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-4-circle-fill"></i>&nbsp;&nbsp;{{item.fourth_dose|date:"d M"}}, {{item.fourth_dose|time:"g:i a"}}</li>        
                    {% endif %}
                </ul>
            </div>
            <div>            
                <a hx-delete="{% url 'htmx_delete' item.id %}" href="#" class="dropdown-item"><i class="bi bi-trash3"></i></a>
            </div>

        </div>
    </div>
    <!-- end of each item -->
    {% endif %}
    {% if item.complete is True %}
    <!-- start of each item -->
    <div class="row bg border border-secondary rounded p-1 mt-3">
        <div class="col-sm-3">
            <h3><strong><a href="{% url 'doseview' item.id %}" class="opacity-50">{{item.medicine}}</a>&nbsp;&nbsp;<i class="bi bi-check-circle-fill text-success"></i></strong></h3>
            <i class="bi bi-clock-fill"></i>&nbsp;&nbsp;{{item.interval}} hourly
        </div>
        <div class="col-sm-9 d-flex justify-content-start align-items-end border-start-dark opacity-50">
            <div class="flex-grow-1">
                <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item" id="{{item.id}}-last-fed"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-1-circle-fill"></i>&nbsp;{{item.last_fed|date:"d M"}}, {{item.last_fed|time:"g:i a"}}</li>
                    <li class="list-group-item" id="{{item.id}}-second-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-2-circle-fill"></i>&nbsp;{{item.second_dose|date:"d M"}}, {{item.second_dose|time:"g:i a"}}</li>
                    <li class="list-group-item" id="{{item.id}}-third-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-4-circle-fill"></i>&nbsp;&nbsp;{{item.third_dose|date:"d M"}}, {{item.third_dose|time:"g:i a"}}</li>
                    <li class="list-group-item" id="{{item.id}}-fourth-dose"><a href="{% url 'doseview' item.id %}" class="link-no-line"><i class="bi bi-4-circle-fill"></i>&nbsp;&nbsp;{{item.fourth_dose|date:"d M"}}, {{item.fourth_dose|time:"g:i a"}}</li>        
                </ul>
            </div>
            <div>            
                <a hx-delete="{% url 'htmx_delete' item.id %}" href="#" class="dropdown-item"><i class="bi bi-trash3"></i></a>
            </div>

        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% if not list %}
    <div class="row bg border border-secondary rounded p-1 mt-3">
        <div class="col-sm text-center pt-5 pb-5">
            <h2 class="fw-bold">This place's empty.</h2>
            <p class="fs-5">Start by <a href="{% url 'eatcreate' %}">adding a dose or two here</a>!</p>
            <img src="{% static 'trackerapp/startup.webp' %}" class="img-fluid rounded" height="600" width="600" alt="Start here">
        </div>
    </div>
    {% endif %}
</div> <!-- the htmx delete div -->
