{% extends 'trackerapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form action="" method="POST">
            {% csrf_token %}

            {% if form.medicine %}
            <div class="fw-bold">Select the medicine:</div>
            <div class="mb-3">{{ form.medicine }}</div>
            {% endif %}
            {% if form.last_fed %}
            <div class="fw-bold">Time of last dose:</div>
            <div class="mb-3">{{ form.last_fed }}</div>
            {% endif %}
            {% if form.interval %}
            <div class="fw-bold">Hours in between doses:</div>
            <div class="mb-3">{{ form.interval }}</div>
            {% endif %}
            {% if form.remarks %}
            <div class="fw-bold">Insert remarks, if any:</div>
            <div class="mb-3">{{ form.remarks }}</div>
            {% endif %}
                <input type="submit" value="Submit" class="btn btn-success">
                <input type="reset" value="Reset" class="btn btn-secondary">
            </div>
        </form>
    </div>
    <div class="col-3"></div>    
</div>

{% endblock %}
