{% extends 'trackerapp/base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'newlist' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Entry</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-sm d-flex justify-content-end align-items-center">
        <div class="btn-group">
            <span class="btn btn-success active" aria-current="page"><i class="bi bi-box-arrow-up-right"></i>&nbsp;&nbsp;View</li></span>
            <a href="{% url 'eatupdate' nextfewdoses.pk %}" class="btn btn-outline-success"><i class="bi bi-pencil-fill"></i>&nbsp;&nbsp;Edit</li></a>
            <a href="{% url 'eatdelete' nextfewdoses.pk %}" class="btn btn-outline-success"><i class="bi bi-trash3"></i>&nbsp;&nbsp;Delete</li></a>
        </div>
    </div>
</div>
<div class="row mt-3 mb-1">
    <div class="col-sm">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_within">
                    <button class="accordion-button fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_within" aria-expanded="true" aria-controls="collapse_within">
                        {{ nextfewdoses.medicine }}
                    </button>
                </h2>
                <div id="collapse_within" class="accordion-collapse collapse show" aria-labelledby="heading_within" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p><h5>Your next doses:</h5><p>
                           
                        <!-- <p>Dose {{forloop.counter}}: {{ x }}</p> -->
                        
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- credit: https://www.bootdey.com/snippets/view/simple-horizontal-timeline -->
                                            <!-- <h4 class="card-title mb-5">Horizontal Timeline</h4> -->
                                            <div class="hori-timeline" dir="ltr">
                                                <ul class="list-inline events">
                                                        <li class="list-inline-item event-list">
                                                            <div class="px-4">
                                                                <div class="event-date bg-soft-secondary text-secondary fw-bold"><i class="bi bi-capsule-pill"></i> &nbsp;1</div>
                                                                <h5 class="font-size-16">
                                                                {{nextfewdoses.last_fed|date:"d M (D)"}}<br>{{nextfewdoses.last_fed|time:"g:i a"}}
                                                                </h5>
                                                            </div>
                                                        </li>

                                                        <li class="list-inline-item event-list">
                                                            <div class="px-4">
                                                                <div class="event-date bg-soft-success text-success fw-bold"><i class="bi bi-capsule-pill"></i> &nbsp;2</div>
                                                                <h5 class="font-size-16">
                                                                <b>{{nextfewdoses.second_dose|date:"d M (D)"}}<br>{{nextfewdoses.second_dose|time:"g:i a"}}</b>
                                                                </h5>
                                                            </div>
                                                        </li>

                                                        <li class="list-inline-item event-list">
                                                            <div class="px-4">
                                                                <div class="event-date bg-soft-success text-success fw-bold"><i class="bi bi-capsule-pill"></i> &nbsp;3</div>
                                                                <h5 class="font-size-16">
                                                                <b>{{nextfewdoses.third_dose|date:"d M (D)"}}<br>{{nextfewdoses.third_dose|time:"g:i a"}}</b>
                                                                </h5>
                                                            </div>
                                                        </li>

                                                        <li class="list-inline-item event-list">
                                                            <div class="px-4">
                                                                <div class="event-date bg-soft-success text-success fw-bold"><i class="bi bi-capsule-pill"></i> &nbsp;4</div>
                                                                <h5 class="font-size-16">
                                                                <b>{{nextfewdoses.fourth_dose|date:"d M (D)"}}<br>{{nextfewdoses.fourth_dose|time:"g:i a"}}</b>
                                                                </h5>
                                                            </div>
                                                        </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- start second accordion item -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_within2">
                    <button class="accordion-button fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_within2" aria-expanded="true" aria-controls="collapse_within2">
                        General Information
                    </button>
                </h2>
                <div id="collapse_within2" class="accordion-collapse collapse show" aria-labelledby="heading_within2" data-bs-parent="#accordionExample_block_auto_closing"><!-- removing this data-bs-parent blocks auto closing others -->
                    <div class="accordion-body">
                    <!-- cards -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Description</h5>
                                        <p class="card-text">{{nextfewdoses.medicine.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Dosing Interval</h5>
                                        <p class="card-text">{{nextfewdoses.medicine.rec_interval}} hourly <span class="text-muted">(or {{doses_per_day}} times a day)</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Used For</h5>
                                        <p class="card-text">{{nextfewdoses.medicine.used_for}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Side Effects</h5>
                                        <p class="card-text">{{nextfewdoses.medicine.sideeffects}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end cards -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end second accordion item -->
        </div>
</div>
{% endblock %}