{% if not doseinfo %}
<div class="text-center">
<form action="{% url 'htmx_create_dose_auto' courseinfo.0.id %}" method="POST">
    {% csrf_token %}
    <p>Oops, there's no data here. Try <input type="submit" class="btn btn-link" value="adding doses automatically"></p>
</form>
</div>
{% else %}
<ol class="list-group list-group-numbered list-group-flush">
{% for item in doseinfo %}
<li class="list-group-item">
    {% if item.dose_timing < datetoday %}
    <span class="border border-dark opacity-50 p-1 ms-3 mt-2 mb-2"><i class="bi bi-calendar-minus-fill"></i>&nbsp;&nbsp;{{item.dose_timing|date:"j M (D), Y"}}</span>
    <span class="border border-dark opacity-50 p-1 mt-2 mb-2"><i class="bi bi-clock-fill"></i>&nbsp;&nbsp;{{item.dose_timing|time:"g:i a"}}</span>&nbsp;&nbsp;&nbsp;
    <a hx-delete="{% url 'htmx_delete_dose' id=courseinfo.0.id doseid=item.id %}" hx-target="#htmx_view_dose" hx-swap="innerHTML"><i class="bi bi-trash3 text-danger opacity-50"></i></a>
    {% else %}
    <span class="border border-dark p-1 ms-3 mt-2 mb-2"><i class="bi bi-calendar-minus-fill"></i>&nbsp;&nbsp;{{item.dose_timing|date:"j M (D), Y"}}</span>
    <span class="border border-dark p-1 mt-2 mb-2"><i class="bi bi-clock-fill"></i>&nbsp;&nbsp;{{item.dose_timing|time:"g:i a"}}</span>&nbsp;&nbsp;&nbsp;
    <a hx-delete="{% url 'htmx_delete_dose' id=courseinfo.0.id doseid=item.id %}" hx-target="#htmx_view_dose" hx-swap="innerHTML"><i class="bi bi-trash3 text-danger"></i></a>
    {% endif %}
</li>
{% endfor %}
</ol>

{% endif %}
