<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Rank-a-Mate</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
{% load static %}
<div class="px-5 py-5 fs-4 text-center">
    <p class="mb-5">Server 500: Something went wrong.</p>
    <img src="{% static 'rankingapp/_4b5ba419-3cab-475b-9dfe-e5e7fc686e94.webp' %}" alt="404 error" width="700" height="700">
</div>