body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7ffe6;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      #FFE15D 0%,
      #FFE15D 50%,
      #ffc65d 50%,
      #ffc65d 100%
    );
}
a, a:visited {
    text-decoration: none;
    color: #B01E68; 
}

a:hover {
    color: #DC3535;
    text-decoration: underline;
}
.handle {
    cursor: url('../hand-grab.svg'), auto;
}
a:hover.no-hover {
    text-decoration: none;
}
