body {
    font-family: 'Rubik', sans-serif;
    background-color: #f7ffe6;
}

a, a:visited {
    text-decoration: none;
    color: #B01E68; 
}

a:hover {
    color: #DC3535;
    text-decoration: underline;
}
